# Python
__pycache__/
*.pyc
venv/
.env

# React / Node.js
node_modules/
build/
dist/
.env.local
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
*.pid

# VS Code
.vscode/